# Summary:
# This workflow is named "Building AMI" and is responsible for building an Amazon Machine Image (AMI) after a pull request is merged.
#
# Trigger Events:
# - It is triggered when a pull request to the 'main' branch is merged.
#
# Jobs:
# - The job "Building AMI" runs on an Ubuntu machine and performs the following steps:
#   1. Checkout code: Pulls the latest code from the repository.
#   2. Setup Oracle JDK: Installs Oracle JDK 21.0.1.
#   3. Set Application Properties: Configures environment variables from secret properties for the Spring Boot application.
#   4. Build Spring Boot Application: Builds the Spring Boot application using Maven.
#   5. Setup Packer: Installs the specified version of Packer (1.11.2).
#   6. Run `packer init`: Initializes the Packer environment with the specified template.
#   7. Run `packer fmt`: Formats the Packer template for consistency.
#   8. Run `packer validate`: Validates the Packer template for any syntax or configuration issues.
#   9. Run `packer build`: Builds the AMI using the Packer template. wow

name: Building AMI
on:
  pull_request:
    branches: [ main ]
    types: [ closed ]

  # Allows you to run this workflow manually from the Actions tab
  # workflow_dispatch:

env:
  PRODUCT_VERSION: "1.11.2"

jobs:
  build_AMI:
    if: github.event.pull_request.merged == true
    name: Building AMI
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: rootpassword
          MYSQL_DATABASE: CloudAppDB
          MYSQL_USER: ${{ secrets.DB_USERNAME }}
          MYSQL_PASSWORD: ${{ secrets.DB_USER_PASSWORD }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Wait for MySQL to start
        run: |
          until mysqladmin ping -h "127.0.0.1" --silent; do
            echo "Waiting for MySQL..."
            sleep 5
          done
        shell: bash

      - name: Test MySQL Connectivity
        run: |
          mysql -h "127.0.0.1" -u "${{ secrets.DB_USERNAME }}" -p"${{ secrets.DB_USER_PASSWORD }}" -e "SHOW DATABASES;"

      - name: Set up Oracle JDK 21.0.1
        uses: oracle-actions/setup-java@v1
        with:
          website: oracle.com
          release: 21
          version: 21.0.1

      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Set up Application Properties for Tests
        run: |
          run: |
          echo "spring.datasource.url=${{ secrets.SPRING_DATASOURCE_URL }}" >> src/main/resources/application.properties
          echo "spring.datasource.username=${{ secrets.DB_USERNAME }}" >> src/main/resources/application.properties
          echo "spring.datasource.password=${{ secrets.DB_USER_PASSWORD }}" >> src/main/resources/application.properties
          echo "spring.datasource.driver-class-name=${{ vars.SPRING_DATASOURCE_DRIVER_CLASS_NAME }}" >> src/main/resources/application.properties
          echo "spring.jpa.hibernate.ddl-auto=${{ vars.SPRING_JPA_HIBERNATE_DDL_AUTO }}" >> src/main/resources/application.properties
          echo "spring.jpa.show-sql=${{ vars.SPRING_JPA_SHOW_SQL }}" >> src/main/resources/application.properties
          echo "cloud.aws.region.static=${{ vars.AWS_DEFAULT_REGION }}" >> src/main/resources/application.properties
          echo "cloud.aws.s3.bucket-name=${{ secrets.CLOUD_AWS_S3_BUCKET_NAME }}" >> src/main/resources/application.properties
          echo "cloud.aws.credentials.access-key=${{ secrets.AWS_ACCESS_KEY_ID }}" >> src/main/resources/application.properties
          echo "cloud.aws.credentials.secret-key=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> src/main/resources/application.properties
          echo "spring.servlet.multipart.enabled=${{ vars.SPRING_SERVLET_MULTIPART_ENABLED }}" >> src/main/resources/application.properties
          echo "spring.servlet.multipart.max-file-size=${{ vars.SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE }}" >> src/main/resources/application.properties
          echo "spring.servlet.multipart.max-request-size=${{ vars.SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE }}" >> src/main/resources/application.properties
          echo "logging.file.path=${{ vars.LOGGING_FILE_PATH }}" >> src/main/resources/application.properties
          echo "logging.file.name=${{ vars.LOGGING_FILE_NAME }}" >> src/main/resources/application.properties
          echo "logging.level.com.cloudcomputing.movieRetrievalWebApp.package=${{ vars.LOGGING_LEVEL_COM_CLOUDCOMPUTING_MOVIERETRIEVALWEBAPP_PACKAGE }}" >> src/main/resources/application.properties
          echo "logging.level.org.springframework=${{ vars.LOGGING_LEVEL_ORG_SPRINGFRAMEWORK }}" >> src/main/resources/application.properties
          echo "logging.level.org.hibernate=${{ vars.LOGGING_LEVEL_ORG_HIBERNATE }}" >> src/main/resources/application.properties
          echo "logging.level.com.zaxxer.hikari=${{ vars.LOGGING_LEVEL_COM_ZAXXER_HIKARI }}" >> src/main/resources/application.properties
          echo "logging.level.root=${{ vars.LOGGING_LEVEL_ROOT }}" >> src/main/resources/application.properties
          echo "logging.level.org.springframework.boot.devtools=${{ vars.LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_BOOT_DEVTOOLS }}" >> src/main/resources/application.properties

      - name: Building Spring Boot Application run `mvn clean install --file pom.xml`
        run: mvn clean install --file pom.xml

      - name: Setup `packer`
        uses: hashicorp/setup-packer@main
        id: setup
        with:
          version: ${{ env.PRODUCT_VERSION }}

      # Configure AWS CLI using the IAM service user credentials
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_DEFAULT_REGION }}

      # Assume the IAM role using AWS CLI
      - name: Assume IAM Role
        id: assume_role
        run: |
          ROLE_ARN=${{ secrets.AWS_ROLE_ARN }}
          SESSION_NAME="GitHubActionsSession"
          CREDS=$(aws sts assume-role --role-arn $ROLE_ARN --role-session-name $SESSION_NAME --query "Credentials.[AccessKeyId,SecretAccessKey,SessionToken]" --output text)
          echo $CREDS | awk '{print "AWS_ACCESS_KEY_ID="$1}' >> $GITHUB_ENV
          echo $CREDS | awk '{print "AWS_SECRET_ACCESS_KEY="$2}' >> $GITHUB_ENV
          echo $CREDS | awk '{print "AWS_SESSION_TOKEN="$3}' >> $GITHUB_ENV

      - name: Run `packer init`
        id: init
        run: "packer init cloudNativeAppAMI.pkr.hcl"

      - name: Run `packer fmt`
        id: fmt
        run: "packer fmt cloudNativeAppAMI.pkr.hcl"

      - name: Run `packer validate`
        id: validate
        run: |
          packer validate -var "subnet_id=${{ vars.SUBNET_ID }}" cloudNativeAppAMI.pkr.hcl

      - name: Run `packer build`
        id: build
        run: |
          packer build -var "subnet_id=${{ vars.SUBNET_ID }}" cloudNativeAppAMI.pkr.hcl
